services:
  web:
    build:
      context: ./web
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    env_file:
      - ./web/.env
    volumes:
      - ./web:/app
      - /app/node_modules
      - /app/.next
    restart: unless-stopped
